<div class="w-72 bg-white rounded-md">
  <img [src]="this.hero.image" class="aspect-avatar w-full p-1 rounded-md object-cover">
  <div class="flex justify-center items-center py-3">

    <img [src]="this.roleIcons[this.hero.role]" class="inline mr-2" *ngIf="this.hero.role">
    <div *ngIf="this.configurator" class="flex justify-evenly w-full">
      <img [src]="this.roleIcons.tank" class="selectRole" [ngClass]="{'ring-4': this.selectedRole === 'tank'}" (click)="this.handleRoleChange('tank')">
      <img [src]="this.roleIcons.dps" class="selectRole" [ngClass]="{'ring-4': this.selectedRole === 'dps'}" (click)="this.handleRoleChange('dps')">
      <img [src]="this.roleIcons.support" class="selectRole" [ngClass]="{'ring-4': this.selectedRole === 'support'}" (click)="this.handleRoleChange('support')">
      <img [src]="this.roleIcons.any" class="selectRole" [ngClass]="{'ring-4': this.selectedRole === 'any'}" (click)="this.handleRoleChange('any')">
    </div>

    <b class="text-gray-700 text-2xl table-cell">{{ this.hero.name }}</b>
  </div>
  <input class="block w-full -indent-5 caret-transparent focus:outline-none text-5xl text-center italic text-blue-600"
    type="text" [(ngModel)]="this.player" maxlength="12" />

</div>
