<div class="w-64 bg-white rounded-md">
  <img [src]="this.hero.image" class="aspect-avatar w-full p-1 rounded-md object-cover">
  <div class="flex justify-center items-center py-3">
      <img [src]="this.roleIcons[this.role]" class="inline mr-2" *ngIf="this.configurator && this.role !== 'any'">
      <img [src]="this.roleIcons[hero.role]" class="inline mr-2" *ngIf="!this.configurator">
      <div *ngIf="this.configurator && this.role === 'any'">
        <img [src]="this.roleIcons.tank" class="inline mr-2 cursor-pointer" (click)="this.role = 'tank'">
        <img [src]="this.roleIcons.dps" class="inline mr-2 cursor-pointer" (click)="this.role = 'dps'">
        <img [src]="this.roleIcons.support" class="inline mr-2 cursor-pointer" (click)="this.role = 'support'">
      </div>

      <b class="text-gray-700 text-2xl table-cell">{{ this.hero.name }}</b>
  </div>
  <input class="block w-full -indent-5 caret-transparent focus:outline-none text-5xl text-center italic text-blue-600" type="text" [(ngModel)]="this.player" maxlength="12"/>

</div>
