<div class="transition hover:translate-y-0 group">
  <!-- -translate-y-16 hover:translate-y-0 -->
  <div class="bg-white h-16 flex justify-center">
    <h1 class="absolute left-0 top-0">
      <span class="text-6xl"><i>OVER</i><i class="text-blue-600">DRAFT</i></span>
      <span class="text-lg ml-3">Random hero picker for Overwatch 2</span></h1>
    <div class="absolute left-0 top-0 text-xl"></div>
    <button class="button button-shadow">One random hero</button>
    <button class="button button-shadow appearance-none bg-gray-500 cursor-not-allowed pointer-events-none">
      5v5 configurator
    </button>
    <button class="button button-shadow appearance-none" (click)="this.randomService.generateDeck()">
      Random 1-2-2 roles
    </button>


  </div>

  <!-- <img src="assets/arrow-down.svg"
    class="block marker:hidden h-14 w-14 mx-auto group-hover:-scale-y-[1] transition-all transform-cpu duration-300"> -->
</div>
